body {font-family: Arial, Helvetica, sans-serif;}

.myBtn {

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 7%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  position: relative;
  width: 520px;
  height:660px;
  padding:0px 0px;
  margin:0 auto;
  background-color:white;
  color: white;
}

.blue{
  position: absolute;
  left:120px;
  top:300px;
  width: 100%;
  color: blue;
  font-size: 25px;
}

.close {
  position: absolute;
  background: #ffffff;
  color: black;
  line-height: 50px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 48px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }