.table-style th{
    height:30px;
    background-color: #0277A9;
    color:white;
    vertical-align: middle;
	border: 1px solid grey;
}

.table-style td{
    height:30px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
	border: 1px solid grey;
}

.question{
    vertical-align: middle;
    position: absolute;
    right:2%;
}

.morelinks{
    vertical-align: middle;
    position: absolute;
    right:2%;
}
/*, #top-table1 td:first-child, #top-table1 th, #top-table3 td:first-child, #top-table3 th*/
.table-style td:first-child, .table-style th{
    position: relative;

    text-align: left;
    padding-left: 2%;
}

.table-style{
    margin-left: 22px;
    margin-top:11px;
    float: left;
    font: 12px sans-serif;
    width: 325px;
    vertical-align: middle;
}

.glass{
    width: 19px;
    height: 20px;
}

#top-table2{
    width: 298px;
}

#top-table2 td:first-child{
    width: 232px;
}

#top-table3{
    width:292px;
}

#top-table3 td:first-child{
    width: 222px;
}

#big-center-table{
    width:960px;
    margin-top:4px;

}

#big-center-table td{
    position: relative;
}

#big-center-table td img .question{
    position: absolute;
}

#big-center-table tr:first-child{
    height:40px;
}

#big-center-table tr{
    height: 45px;
}

.grey-background{
    background-color: #F5F6F6;
}

.blue-font{
    color: #0070A1;
    color:#0077AC;
}

.width{
    min-width: 342px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    text-align: left !important;
    padding-left: 1% !important;
}

.img-width{
    width:88px;
    text-align: left;
}

.img-width img{
    position: absolute;
}

.img-width2{
    width: 112px;
}

.questioncentertabeleft{
    text-align: left !important;
    padding-left: 2px;
	font-weight: bold;
}

#big-center-table img{
    vertical-align: middle;
}

#bottom-table5{
    display: table;
    position: absolute;
    margin-top:608px;
    margin-left:22px;
}

#bottom-table6{
    display: table;
    position: absolute;
    margin-top:608px;
    margin-left: 368px;
    width: 288px;
}

#bottom-table7{
    display: table;
    position: absolute;
    margin-top:608px;
    margin-left: 682px;
    width: 298px;
    white-space:nowrap;
}
td 
{
}

#bottom-table7 td 
{
  text-align: left; 
  vertical-align: middle;
  
}

.thick {
  font-weight: bold;
  font-size: 12px;
}

.normal {
  font-size: 12px;
}

.select {
	padding: 35px
}
.italic{
font-style: italic;
color: gray;
}

.headline {
  text-align:right;
  padding-right:13.5em;
  float:right;
}

.padding
{
	padding: 10px;	
}


table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
